/* xxl-large-desktop */
@media (min-width:1400px){
    .container {
        width: 1320px;
    }
}
/* xl-desktop */
@media (min-width:1200px) and (max-width:1399px){
    .container {
        width: 1140px;
    }
}
/* lg-laptop */
@media (min-width:992px) and (max-width:1199px){
    .container {
        width: 960px;
    }

    /* header */
    header .header-top-bar .top-left-content li{
        margin-right: 0px !important;
        padding-left: 5px !important ;
    }
    header.header-2 .main-header-wrapper .main-header{
        padding: 15px !important;
    }
    /* section3 */
    .about-cover-bg .our-experience-years{
        padding: 0px !important;
    }

    /* section6 */
    .arrow__element.arrow-2{
        display: none !important;
    }

    /* section11 */
    .blog__widget .blog__content .author__date {
        margin-top: 22px !important;
    }
    .blog__widget .blog__content .author__date a{
        font-size: 15px !important;
        line-height: 14px !important;
        margin-bottom: 5px !important;
    }
    .blog__widget .blog__content h4{
        margin: 0px !important;
        font-size: 18px !important;
        line-height: 31px !important;
    }
    .blog__widget .blog__content a{
        font-size: 13px !important;
    }

    /* logosection */
    .carousel-inner .im-5{
        display: none !important;
    }

    /* footer-bottom */
    .footer-bottom.footer_bottom__2 .footer-menu a{
        margin-left: 18px !important;
    }
}
/* md-tablet */
@media (min-width:768px) and (max-width:991px) {
    .container {
        width: 720px;
    }

    /* header */
    header.header-2 .main-header-wrapper .main-header{
        padding: 15px !important;
    }

    /* section3 */
    .about-cover-bg .our-experience-years{
        padding: 0px !important;
    }
    .about-cover-bg {
        height: 450px !important;
    }
    .block-contents {
        padding-right: 0 !important;
    }
    .theme-btn {
        padding: 16px 30px 14px !important;
    }

    /* section6 */
    .arrow__element.arrow-2{
        display: none !important;
    }

     /* section8 */
     .our_faq__wrapper .card__element button {
        font-size: 16px !important;
        line-height: 23px !important;
    }

    /* section11 */
    .blog__widget .blog__content .author__date {
        margin-top: 22px !important;
    }
    .blog__widget .blog__content .author__date a{
        font-size: 15px !important;
        line-height: 14px !important;
        margin-bottom: 5px !important;
    }
    .blog__widget .blog__content h4{
        margin: 0px !important;
        font-size: 18px !important;
        line-height: 31px !important;
    }
    .blog__widget .blog__content a{
        font-size: 13px !important;
    }

    /* logosection */
    .carousel-inner .im-5{
        display: none !important;
    }
    .carousel-inner .im-4{
        display: none !important;
    }
}
/* sm-mobile */
@media (min-width:576px) and (max-width:767px) {
    .container {
        width: 520px;
    }

    /* header */
    header.header-2 .main-header-wrapper .main-header{
        padding: 15px !important;
    }

    /* section3 */
    .about-cover-bg {
        height: 350px !important;
    }
    .block-contents .section-title h2 {
        font-size: 36px !important;
    }
    .theme-btn {
        padding: 18px 35px 15px !important;
    }
    /* section8 */
    .our_faq__wrapper .card__element button {
        font-size: 16px !important;
        line-height: 23px !important;
    }

    /* section11 */
    .blog__widget .blog__content .author__date {
        margin-top: 22px !important;
    }
    .blog__widget .blog__content .author__date a{
        font-size: 15px !important;
        line-height: 14px !important;
        margin-bottom: 5px !important;
    }
    .blog__widget .blog__content h4{
        margin: 0px !important;
        font-size: 18px !important;
        line-height: 31px !important;
    }
    .blog__widget .blog__content a{
        font-size: 13px !important;
    }
    .blog__img:before{
        width: 91% !important;
    }

    /* logosection */
    .carousel-inner .im-5{
        display: none !important;
    }
    .carousel-inner .im-4{
        display: none !important;
    }
    .carousel-inner .mx-5{
        margin-right: 0 !important;
    }

}
/* xs-small device */
@media (max-width:575px) {
    .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    /* header */
    header.header-2 .main-header-wrapper .main-header{
        padding: 15px !important;
    }
    
    /* section3 */
    .about-cover-bg {
        height: 350px !important;
    }
    .block-contents .section-title h2 {
        font-size: 36px !important;
    }
    .theme-btn {
        padding: 18px 35px 15px !important;
    }
    /* section8 */
    .our_faq__wrapper .card__element button {
        font-size: 16px !important;
        line-height: 23px !important;
    }

    /* section11 */
    .blog__widget .blog__content .author__date {
        margin-top: 22px !important;
    }
    .blog__widget .blog__content .author__date a{
        font-size: 15px !important;
        line-height: 14px !important;
        margin-bottom: 5px !important;
    }
    .blog__widget .blog__content h4{
        margin: 0px !important;
        font-size: 18px !important;
        line-height: 31px !important;
    }
    .blog__widget .blog__content a{
        font-size: 13px !important;
    }
    .blog__img:before{
        width: 85.5% !important;
    }

    /* logosection */
    .carousel-inner .im-5{
        display: none !important;
    }
    .carousel-inner .im-4{
        display: none !important;
    }
    .carousel-inner .mx-5{
        margin-right: 0 !important;
    }
}